@model AssetManagement.Models.Hardware
<h1>DeleteHardware</h1>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.id)
        </div>
        <div class="editor-label">
            @Html.EditorFor(model => model.id)
            @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
        </div>
        <br />
        <input type="submit" class="btn btn-primary" value="Delete" />
    </fieldset>
}